body{
    text-align: center;
}
#container{
    height: 200px;
    width: 800px;
    border: 2px solid black;
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

div{
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
#box1{
    height: 100px;
    width: 100px;
    background-color: aqua;
}
#box2{
    height: 100px;
    width: 100px;
    background-color: rgb(55, 0, 255);
}
#box3{
    height: 100px;
    width: 100px;
    background-color:blueviolet
}
#box4{
    height: 100px;
    width: 100px;
    background-color: rgb(16, 192, 75);
}
#box5{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 251, 0);
}

#mediabox{
    height: 200px;
    width: 200px;
    background-color: pink;
}

@media(max-width: 300px){
   #mediabox{
    background-color: green;
   }
}

@media(min-width: 300px) and (max-width: 400px){
    #mediabox{
     background-color: rgb(81, 0, 128);
    }
 }
 
 @media(min-width: 600px){
    #mediabox{
     background-color: rgb(251, 255, 1);
    }
 }
 